.home-main {
  .hero-section {
    background: #0a2852;
    padding: 70px 0;

    .video-area {
      .title {
        color: #ffffff;
        font-size: 32px;
        line-height: 35px;
        font-weight: 700;
        text-transform: uppercase;
        max-width: 540px;
      }
      .footer {
        color: #ffffff;
        font-size: 20px;
        line-height: 26px;
        font-weight: 600;
        max-width: 490px;

        span {
          color: rgb(0, 149, 201);
        }
      }
    }

    .form-title {
      color: #fff;
      font-size: 28px;
      line-height: 36px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      padding-bottom: 30px;
      span {
        color: rgb(0, 149, 201);
      }
    }

    .form-area {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ffffff;
      padding: 30px 20px;
      border-radius: 10px;

      .sub-title {
        color: #000000;
        font-size: 18px;
        line-height: 26px;
        max-width: 490px;

        span {
          font-weight: 600;
        }
      }

      .form-home {
        width: 100%;
        max-width: 540px;

        label {
          color: #000000;
        }
        input {
          background-color: #fff;
          border: 1px solid #555;
          &:focus {
            box-shadow: none;
          }
        }

        button {
          width: 100%;
          border: 0;
          background-color: #01a1dd;
          color: #fff;
          padding: 10px 0;
          border-radius: 7px;
        }

        span {
          color: #000000;
          font-size: 15px;
          line-height: 23px;
          font-weight: 400;
        }
      }
    }
  }

  .priority-main {
    background-color: #f1f1f1;
    padding: 50px 0;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        font-size: 40px;
        line-height: 52px;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
        padding-bottom: 50px;
        margin: unset;
        text-align: center;

        .title-icon {
          color: #01a1dd;
        }

        span {
          color: #01a1dd;
          font-weight: 700;
        }
      }
    }

    .details {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex: 1;

      .img-area {
        width: 540px;
        height: 480px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .content-area {
        flex: 1;
        p {
          margin: 0;
          max-width: 575px;
          font-size: 20px;
          line-height: 26px;
          font-weight: 400;
        }
      }
    }
  }

  .why-us {
    padding: 50px 0;
    .container {
      display: flex;
      flex-direction: column-reverse;
    }

    .title {
      display: flex;
      align-items: center;
      h3 {
        font-size: 40px;
        line-height: 52px;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
        margin: unset;
        text-align: start;
        margin-bottom: 30px;
        max-width: 530px;

        .title-icon {
          color: #01a1dd;
        }

        span {
          color: #01a1dd;
          font-weight: 700;
        }
      }
    }

    .stramline {
      color: #000;
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      margin-bottom: 30px;
      span {
        font-weight: 700;
      }
    }
    .support {
      color: #000;
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      margin-bottom: 30px;
      span {
        font-weight: 700;
      }
    }

    .img-area {
      height: auto;
      width: 80%;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .how-it-works {
    background-color: #f1f1f1;
    padding: 50px 0;

    .title {
      font-size: 40px;
      line-height: 52px;
      font-weight: 500;
      color: #000;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;

      .title-icon {
        color: #01a1dd;
      }

      span {
        color: #01a1dd;
        font-weight: 700;
      }
    }

    .setps {
      padding-top: 30px;
      .step-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-area {
          height: 100px;
          width: 100px;
          display: block;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }

      h3 {
        font-size: 18px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        line-height: 27px;
        padding: 20px 0;
      }

      p {
        margin: 0;
        color: #000;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
        margin-bottom: 30px;
        text-align: center;
      }
    }

    .sub-title {
      font-size: 18px;
      color: rgb(0, 0, 0);
      line-height: 27px;
      padding: 10px 0;
      max-width: 80%;

      span {
        font-weight: 700;
      }
    }
  }

  .compare {
    padding: 50px 0;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        font-size: 40px;
        line-height: 52px;
        font-weight: 500;
        color: #000;
        text-transform: uppercase;
        padding-bottom: 50px;
        margin: unset;
        text-align: center;

        .title-icon {
          color: #01a1dd;
        }

        span {
          color: #01a1dd;
          font-weight: 700;
        }
      }

      .title-icon {
        color: #01a1dd;
      }

      span {
        color: #01a1dd;
        font-weight: 700;
      }
    }

    .image-area {
      width: 830px;
      height: auto;
      text-align: center;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .owner-info {
    background-color: #f1f1f1;
    padding: 50px 0;
    display: flex;
    align-items: center !important;

    .image-area {
      width: 285px;
      height: 285px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }

    .title {
      font-size: 28px;
      line-height: 26px;
      font-weight: 500;
      color: #000;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-weight: 700;
      }
    }

    .description {
      margin-top: 30px;

      p {
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
      }
    }
  }

  .testimonial {
    padding: 50px 0;

    .title {
      font-size: 40px;
      line-height: 52px;
      font-weight: 500;
      color: #000;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 50px;

      .title-icon {
        color: #01a1dd;
      }
    }

    .reviews {
      .review-item {
        .stars {
          padding: 5px 0;
          margin-left: 20px;
          .star {
            font-size: 30px;
            color: rgba(255, 166, 0, 0.659);
          }
        }

        .comment {
          font-size: 20px;
          line-height: 26px;
          font-weight: 400;
          margin: 0;
          max-width: 560px;
        }

        .reviewer {
          font-size: 20px;
          line-height: 26px;
          font-weight: 400;
          margin: 0;
          padding: 30px 0;
        }
      }
    }
    button {
      border: 0;
      background-color: #01a1dd;
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      padding: 10px 50px;
      margin-top: 30px;
      cursor: pointer;
    }
  }
}

.about-main {
  .about-hero {
    background-color: #0095c9;
    color: #fff;
    padding: 50px 0;

    .image-area {
      height: 90px;
      width: 180px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 7px;
      }
    }

    h2 {
      font-size: 40px;
      line-height: 52px;
      font-weight: 700;
      margin-top: 30px;
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 25px;
      max-width: 90%;
      text-align: center;
      padding-top: 30px;
    }
  }

  .difference {
    padding: 70px 0;

    .image-area {
      height: 200px;
      width: 400px;

      img {
        border-radius: 5px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    h2 {
      font-size: 32px;
      line-height: 42px;
      font-weight: 700;
      color: rgb(51, 51, 51);
      text-transform: uppercase;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-top: 15px;
      padding-bottom: 25px;

      li {
        font-size: 20px;
        line-height: 40px;
        font-weight: 400;
      }
    }

    button {
      font-size: 20px;
      font-weight: 700;
      color: #fff;
      background-color: #01a1dd;
      border: none;
      padding: 15px 40px;
      text-transform: uppercase;
    }
  }

  .testimonial {
    background: #f1f1f1;
    padding: 50px 0;

    .title {
      text-align: center;

      p {
        font-size: 23px;
        font-weight: 30px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0;
      }

      h3 {
        font-size: 40px;
        line-height: 52px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
      }
    }

    .reviews {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 50px;

      .quot-icon {
        font-size: 35px;
        color: #01a1dd;
      }

      .review-item {
        .stars {
          font-size: 25px;
          color: #01a1dd;
          padding: 10px;
        }

        .comment {
          max-width: 370px;
          font-size: 16px;
          line-height: 21px;
          font-weight: 400;
        }

        .image-area {
          height: 80px;
          width: 80px;

          img {
            border-radius: 100%;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top center;
            border: 3px solid rgba(0, 0, 0, 0.7);
            box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
          }
        }
        .reviewer {
          font-size: 23px;
          line-height: 30px;
          font-weight: 500;
          color: #01a1dd;
          margin-top: 10px;
        }
      }
    }

    .review-btn {
      margin-top: 50px;
      button {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        background-color: #01a1dd;
        border: none;
        padding: 15px 40px;
        text-transform: uppercase;
      }
    }
  }
}

.contact-main {
  .contact-hero {
    background-color: #0095c9;
    color: #fff;
    padding: 50px 0;

    .image-area {
      height: 90px;
      width: 180px;

      img {
        height: 100%;
        width: 100%;
        border-radius: 7px;
      }
    }

    h2 {
      font-size: 50px;
      line-height: 65px;
      font-weight: 700;
      margin-top: 20px;
    }
  }

  .form-area {
    .success-title {
      h3 {
        font-weight: 500;
      }
    }

    label {
      font-size: 14px;
      line-height: 25px;
      color: rgb(44, 51, 69);
      font-weight: 500;
      font-family: "Inter", sans-serif;
    }

    input,
    textarea {
      font-weight: 500;
      font-size: 12px;
      color: rgb(44, 51, 69);
      line-height: 18px;
      font-family: "Inter", sans-serif;
      box-shadow: none;
      padding: 8px 15px;

      &:focus {
        outline: none;
        border: 1px solid rgba(44, 51, 69, 0.351);
      }
    }

    span.check-box-text {
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #000;
      font-family: "Inter", sans-serif;
    }

    .contact-form-btn {
      button {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        background-color: #01a1dd;
        border: none;
        padding: 15px 10px !important;
        border-radius: 7px;
        cursor: pointer;
        width: 100%;
        font-size: 15px;
        line-height: 27px;
        font-weight: 400;
        font-family: "Inter", sans-serif;
      }
    }
  }
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .home-main {
    .hero-section {
      background: #0a2852;
      padding: 50px 20px !important;

      .video-area {
        padding: 5% 0 15% 0;
        .title {
          font-size: 28px;
        }
        .footer {
          font-size: 18px;

          span {
            color: rgb(0, 149, 201);
          }
        }
      }

      .form-title {
        font-size: 23px !important;
      }
    }
    .priority-main {
      padding: 50px 20px !important;

      .title {
        h3 {
          font-size: 35px !important;
          line-height: 42px !important;
        }
      }

      .details {
        gap: 50px;
        display: flex;
        justify-content: center !important;

        .img-area {
          width: 540px;
          height: 480px;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        .content-area {
          text-align: start;
          p {
            font-size: 18px !important;
            line-height: 20px !important;
          }
        }
      }
    }

    .why-us {
      padding: 50px 20px !important;

      .title {
        display: flex;
        align-items: center;
        h3 {
          font-size: 35px !important;
          line-height: 42px !important;
        }
      }

      .stramline {
        font-size: 18px !important;
        line-height: 24px !important;
      }
      .support {
        font-size: 18px !important;
        line-height: 24px !important;
      }
    }

    .compare {
      padding: 50px 20px !important;

      .title {
        h3 {
          font-size: 35px !important;
          line-height: 42px !important;
        }
      }
    }

    .owner-info {
      padding: 50px 20px !important;
      .col-md-5.col-sm-12.d-flex.justify-content-center {
        margin-top: 50px;
      }

      .title {
        font-size: 25px !important;
        line-height: 30px !important;
        margin-top: 50px !important;
        text-align: start !important;
      }

      .description {
        margin-top: 40px !important;

        p {
          font-size: 18px !important;
          line-height: 24px !important;
        }
      }
    }

    .testimonial {
      padding: 50px 20px !important;

      .title {
        font-size: 35px !important;
        line-height: 42px !important;
      }

      .reviews {
        .review-item {
          .stars {
            .star {
              font-size: 25px !important;
            }
          }

          .comment {
            font-size: 18px !important;
            line-height: 24px !important;
          }

          .reviewer {
            font-size: 18px !important;
            line-height: 24px !important;
            padding: 20px 0 !important;
          }
        }
      }

      button {
        font-size: 18px !important;
        padding: 8px 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-main {
    .hero-section {
      background: #0a2852;
      padding: 70px 0;

      .video-area {
        padding: 5% 0 15% 0;
        .title {
          font-size: 25px !important;
          text-align: center;
        }
        .footer {
          font-size: 18px;
          text-align: center;

          span {
            color: rgb(0, 149, 201);
          }
        }
      }

      .form-title {
        font-size: 22px !important;
      }

      .form-area {
        padding: 25px 20px !important;
      }
    }
    .priority-main {
      background-color: #f1f1f1;
      padding: 50px 0;

      .title {
        h3 {
          font-size: 30px;
          line-height: 38px;
        }
      }

      .details {
        gap: 30px;
        display: flex;
        justify-content: center !important;

        .content-area {
          text-align: start;
          p {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }

    .why-us {
      .container {
        display: flex !important;
        flex-direction: row !important;
      }
      .title {
        h3 {
          font-size: 32px !important;
          line-height: 38px !important;
        }
      }

      .img-area {
        height: 190px !important;
        width: 350px !important;
        object-fit: cover;
        margin: 30px 0 !important;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .how-it-works {
      padding: 50px 20px !important;

      .title {
        h3 {
          font-size: 32px !important;
          line-height: 38px !important;
        }
      }

      .setps {
        padding-top: 30px;
        .step-item {
          .image-area {
            height: 90px !important;
            width: 90px !important;
          }
        }

        p {
          font-size: 18px !important;
          line-height: 24px !important;
        }
      }

      .sub-title {
        font-size: 18px;
        color: rgb(0, 0, 0);
        line-height: 27px;
        padding: 10px 0;
        max-width: 80%;

        span {
          font-weight: 700;
        }
      }
    }

    .compare {
      padding: 50px 0;

      .title {
        h3 {
          font-size: 32px !important;
          line-height: 38px !important;
        }
      }
    }

    .owner-info {
      .title {
        font-size: 25px !important;
        line-height: 30px !important;
        margin-top: 50px !important;
        text-align: start !important;
      }

      .description {
        margin-top: 40px !important;

        p {
          font-size: 18px !important;
          line-height: 24px !important;
        }
      }
    }

    .testimonial {
      padding: 50px 0;

      .title {
        font-size: 35px !important;
        line-height: 42px !important;
      }

      .reviews {
        margin-top: 30px;
        .review-item {
          .stars {
            margin-left: 10px !important;
            .star {
              font-size: 25px !important;
            }
          }

          .comment {
            font-size: 18px !important;
            line-height: 24px !important;
          }

          .reviewer {
            font-size: 18px !important;
            line-height: 24px !important;
            padding: 15px 0 !important;
          }
        }
      }

      button {
        font-size: 18px !important;
        font-weight: 700;
        color: #fff;
        padding: 8px 40px;
        margin-top: 30px;
        cursor: pointer;
      }
    }
  }

  .about-main {
    .about-hero {
      padding: 40px 0px !important;

      h2 {
        font-size: 35px !important;
        line-height: 42px !important;
      }

      p {
        font-size: 16px !important;
      }
    }

    .difference {
      padding: 70px 20px !important;

      .image-area {
        height: 150px !important;
        width: 320px !important;
      }

      h2 {
        margin-top: 30px;
        font-size: 28px !important;
        line-height: 36px !important;
      }

      ul {
        li {
          font-size: 18px !important;
          line-height: 36px !important;
        }
      }

      button {
        font-size: 18px !important;
        padding: 14px 38px !important;
      }
    }

    .testimonial {
      padding: 50px 20px !important;

      .title {
        p {
          font-size: 20px !important;
        }

        h3 {
          font-size: 35px;
          line-height: 42px;
        }
      }

      .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .quot-icon {
          font-size: 35px;
          color: #01a1dd;
        }

        .review-item {
          .reviewer {
            font-size: 21px;
          }
        }
      }

      .review-btn {
        button {
          font-size: 17px;
          padding: 13px 45px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .home-main {
    .compare {
      padding: 50px 0;

      .title {
        h3 {
          font-size: 28px !important;
          line-height: 36px !important;
        }
      }
    }

    .why-us {
      .title {
        h3 {
          font-size: 28px !important;
          line-height: 38px !important;
        }
      }
    }
  }

  .about-main {
    .about-hero {
      padding: 30px 0px !important;

      h2 {
        font-size: 32px !important;
        line-height: 38px !important;
      }

      p {
        font-size: 15px !important;
      }
    }

    .difference {
      padding: 70px 20px !important;

      .image-area {
        width: 300px !important;
        height: 120px !important;
      }

      h2 {
        margin-top: 30px;
        font-size: 28px !important;
        line-height: 36px !important;
        text-align: center;
      }

      ul {
        li {
          font-size: 17px !important;
          line-height: 36px !important;
        }
      }

      .difference-btn {
        text-align: center !important;
        button {
          font-size: 17px !important;
          padding: 13px 35px !important;
        }
      }
    }

    .testimonial {
      padding: 50px 20px !important;

      .title {
        p {
          font-size: 20px !important;
        }

        h3 {
          font-size: 35px;
          line-height: 42px;
        }
      }

      .reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .quot-icon {
          font-size: 35px;
          color: #01a1dd;
        }

        .review-item {
          .reviewer {
            font-size: 20px;
          }
        }
      }

      .review-btn {
        button {
          font-size: 17px !important;
          padding: 13px 35px !important;
        }
      }
    }
  }
}
