.header-main {
  padding: 20px 0;

  .nav-logo {
    height: 75px;
    width: 200px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .custom-position {
    display: flex;
    justify-content: space-between;

    .nav-menu {
      padding-left: 10%;
      ul {
        margin: 0;
        padding: 0;
        li {
          a {
            color: rgb(0, 0, 0);
            font-size: 17px;
            font-weight: 400;
            line-height: 21px;
            text-decoration: none;
          }
        }
      }
    }
  }

  .phone {
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 23px;
  }

  .responsive-menu {
    display: none;
  }
}

.footer-main {
  .footer-content {
    border-top: 1px solid #00000063;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-area {
      height: 90px;
      width: 190px;
      img {
        height: 100%;
        width: 100%;
      }
    }

    h3 {
      font-size: 16px;
      line-height: 21px;
      font-weight: 500;
    }
  }
}

/* Responsive adjustments */
@media (max-width: 992px) {
  .nav-logo {
    height: 70px !important;
    width: 180px !important;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .custom-position {
    justify-content: end !important;
    .nav-menu {
      padding-left: 5% !important;
    }
  }

  .phone {
    display: none;
  }

  .footer-content {
    .image-area {
      height: 100px !important;
      width: 180px !important;
      img {
        height: 100%;
        width: 100%;
      }
    }

    h3 {
      font-size: 14px !important;
    }
  }
}

@media (max-width: 768px) {
  .nav-logo {
    height: 60px !important;
    width: 150px !important;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .custom-position {
    justify-content: end !important;
    .nav-menu {
      display: none !important;
    }
  }

  .phone {
    display: none;
  }

  .responsive-menu {
    display: flex !important;
    align-items: center !important;

    .phone-menu-btn {
      color: white;
      font-size: 24px;
      cursor: pointer;
      border: none;
      padding: 2px 7px;
      padding-bottom: 3px;
      border-radius: 5px;
      color: #000;
      background-color: transparent;
    }

    .phone-menu {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      
      .cross-btn {
        position: absolute;
        top: 18px;
        left: 20px;
      }

      ul {
        margin: 0;
        padding: 0;
        padding-left: 67px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-top: 50px;

        li {
          a {
            color: #000;
            font-size: 18px;
            font-weight: 300;
            line-height: 21px;
            text-decoration: none;
          }
        }
      }
    }
  }

  .footer-content {
    .image-area {
      height: 80px !important;
      width: 190px !important;
      img {
        height: 100%;
        width: 100%;
      }
    }

    h3 {
      font-size: 13px !important;
    }
  }
}

@media (max-width: 576px) {

  .navlogo-wrapper {
    width: 80% !important;
  }

  .nav-logo {
    height: 55px !important;
    width: 140px !important;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .custom-position {
    justify-content: end !important;
    width: 20% !important;
    .nav-menu {
      display: none !important;
    }
  }

  .phone {
    display: none;
  }

  .footer-content {
    .image-area {
      height: 90px !important;
      width: 170px !important;
      img {
        height: 100%;
        width: 100%;
      }
    }

    h3 {
      font-size: 13px !important;
    }
  }
}
